@font-face {
    font-family: 'DinRegular';
    src: url('../fonts/dean-regular.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DinThin';
    src: url('../fonts/dean-thinn.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DinMedium';
    src: url('../fonts/dean-medium.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DinBold';
    src: url('../fonts/dean-bold.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'DinRegular';
}

.last-row-in-table {
    border: 0;
}

.last-row-in-table td {
    border: 0;
    box-shadow: none !important;
}

.pricing-card {
    transition: all .2s ease-in-out;
    color: #111;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #ddd;
}

.btn {
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    padding: .55rem 1.95rem;
}

.pricing-card:hover {
    color: #111;
    transform: scale(1.1);
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.pricing-card:hover button {
    background-color: #19243D;
    border-color: #19243D;
    color: #fff;
}

.table img {
    width: 200px;
}

.row-start {
    width: 30%;
}

.table-bordered td {
    box-shadow: 1px 1px 2px 0px #bbb;
    vertical-align: middle;
}

h2.center {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

table.table-bordered {
    border-collapse: separate;
    border-spacing: 2px;
    border: 0;
    margin-top: 20px;
}

.table span.text-danger,
.table span.text-muted {
    font-size: 19px;
}

table.table-bordered .fa {
    font-size: 20px;
}

.plan__content__card {
    margin-top: 30px;
    border-radius: 30px;
}

.plan__content__card ul li {
    list-style: none;
    margin-bottom: 10px;
}

.plan__content__card--title {
    margin-bottom: 15px;
}

.plan__content__card ul li i {
    font-size: 20px;
    margin-left: 10px;
}

.plan__content {
    border-bottom: 1px solid #111;
    padding-bottom: 30px;
}

.custom-radios span.label {
    font-size: 17px;
    color: #6c757d;
}

.custom-radios span.label span {
    color: #111;
}

.custom-radios {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-radios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radios .checkmark {
    position: absolute;
    top: 23%;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.custom-radios:hover input~.checkmark {
    background-color: #ccc;
}

.custom-radios input:checked~.checkmark {
    background-color: #2196F3;
}

.custom-radios .checkmark:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    display: none;
    color: #fff;
}

.custom-radios input:checked~.checkmark:after {
    display: block;
}

.custom-radios .checkmark:after {
    top: -3px;
    left: 16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.plan-profile__payment {
    border-bottom: 1px solid #111;
}

.price-circle {
    border: 1px solid #6c757d00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 9px 0px #ddd;
    /* margin: 2% auto; */
}

@media (min-width: 768px) {
    .pr-custom {
        padding-right: 6rem
    }
    .pl-custom {
        padding-left: 7rem
    }
    .mr-custom {
        margin-right: 6rem !important;
    }
}

.price-circle__price {
    font-size: 2.5rem;
}

.price-circle__currency {
    font-size: 30px;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.custom-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.custom-checkbox input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    display: none;
    color: #fff;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    top: 2px;
    left: 5px;
}

.custom-checkbox .label {
    font-size: 13px;
}

.btn-secondary {
    border-radius: 20pc;
    -webkit-border-radius: 20pc;
    -moz-border-radius: 20pc;
    -ms-border-radius: 20pc;
    -o-border-radius: 20pc;
}

.arrow-icon {
    background-color: #6c757d;
    border-color: #6c757d;
    border: 0;
    border-radius: 50pc;
    width: 44px;
    height: 30px;
}

.to-top {
    background-color: #6c757d;
    border-color: #6c757d;
    border: 0;
    border-radius: 50pc;
    width: 28px;
    height: 42px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    outline: none;
}

p.text-darkblue {
    margin-bottom: 0 !important;
}

@media(max-width: 767px) {
    .to-top {
        bottom: 16px;
        right: 16px;
    }
}

.to-top:focus {
    outline: none;
}

.alert {
    background-color: #19243D;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.plan-profile__discount-area h4 {
    font-weight: 300;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus,
outline-dark:not(:disabled):not(.disabled):active:focus {
    box-shadow: none !important;
}


/* Table/ */

section#inno--compare-packages .compare-packages_row#compare-packages-header {
    transition: all .2s ease-in;
    margin-top: 4rem;
}

section#inno--compare-packages .compare-packages_row .cp-square.head h5 {
    margin: auto 0;
}

section#inno--compare-packages .compare-packages_row {
    justify-content: center;
    flex-wrap: nowrap;
    margin: .5% 0;
}

section#inno--compare-packages .compare-packages_row .cp-square.head {
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: center;
}

section#inno--compare-packages .compare-packages_row .cp-square.head h5 {
    font-size: 23px;
    font-weight: 500;
}

section#inno--compare-packages .compare-packages_row .cp-square:first-child {
    border-top-right-radius: .1rem;
    border-bottom-right-radius: .1rem;
}

section#inno--compare-packages .compare-packages_row .cp-square {
    flex-basis: 24%;
    margin: 0 .25%;
    text-align: center;
    background-color: #fff;
    padding: .75rem;
    min-height: 100%;
    border: 1px solid #dee2e6;
    box-shadow: 1px 1px 2px 0px #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#inno--compare-packages .compare-packages_row .cp-square.label p {
    /* font-weight: 600;
    font-size: 1.5rem; */
}

section#inno--compare-packages .compare-packages_row .cp-square.data .true,
section#inno--compare-packages .compare-packages_row .cp-square.data .false {
    margin-bottom: 0 !important;
}

section#inno--compare-packages .compare-packages_row .cp-square.data .true:before {
    background-image: url(../images/check-circle.svg);
}


/* section#inno--compare-packages .compare-packages_row .cp-square.data .false:before {
    background-image: url(../../assets/img/icon-false.svg);
} */

section#inno--compare-packages .compare-packages_row .cp-square.data .false:before,
section#inno--compare-packages .compare-packages_row .cp-square.data .true:before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section#inno--compare-packages .compare-packages_row .cp-square.data {
    position: relative;
}

section#inno--compare-packages .compare-packages_row .cp-square.white {
    background-color: #fff;
    border: 0e6;
    box-shadow: none;
}

.compare-packages .compare-packages_row .cp-square.logo {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#inno--compare-packages .compare-packages_row .cp-square.logo img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    section#inno--compare-packages .compare-packages_row .cp-square {
        padding: 6px;
    }
    section#inno--compare-packages .compare-packages_row .cp-square .btn {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
    }
}


/* loader */

.loading-overlay {
    background: #ffffffb8;
    color: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
}

@keyframes ldio-x3j41sdsqb {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-x3j41sdsqb div {
    position: absolute;
    animation: ldio-x3j41sdsqb 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #ee5050;
    transform-origin: 80px 82px;
}

.loadingio-spinner-eclipse-5filpdana3s {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-x3j41sdsqb {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-x3j41sdsqb div {
    box-sizing: content-box;
}